<br><br>
<div class="container">
  <div>
    <h2 style="float: left;">
      Property Management System
    </h2>
    <button style="float: right;" class="btn btn-primary" (click)="addProperty()">Add Property</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sl. No.</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Size</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of properties; let i=index;">
        <th scope="row">{{i}}</th>
        <td>{{ property.fields.name }}</td>
        <td>{{ property.fields.description }}</td>
        <td>{{ property.fields.size + property.fields.unit }}</td>
        <td><button (click)="deleteProperty(property,i)" class="btn btn-danger">delete</button></td>
      </tr>
    </tbody>
  </table>

</div>
